/* Additions to Navbar */

.checkbtn .fa {
    font-size: 30px;
    color: white;
    margin: 0px;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.menu {
    list-style-type: none;
}

/* Core Competencies Section */

.core-comp-container {
    height: 950px;
    background-color: rgb(231, 240, 216, 0.8);
    font-family: 'Ubuntu', sans-serif;
}

.core-comp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.core-comp-title h2 {
    margin-left: 20.5%;
    font-size: 50px;
    color: rgb(32, 72, 1);
    padding: 75px 0px 30px 0px;
}

.core-comp-image video {
    width: 600px;
    height: 600px;
}

.capabilities {
    width: 595px;
}

.capabilities-info-content {
    margin-bottom: 25px;
}

.capabilities-info-content h3 {
    display: inline-block;
    padding-bottom: 15px;
    font-size: 24px;
    color:rgb(4, 49, 47);
}

.capabilities-info-content hr {
    display: inline-block;
}

.capabilities-info-content p {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 8px;
    color:rgb(89, 89, 89);
}

.capabilities-info-content a {
    text-decoration: none;
    color:rgb(4, 49, 47);
    font-weight: bold;
    font-size: 18px;
}

.capabilities-info-content span {
    color: rgb(95, 163, 0);
    font-weight: bold;
}

.capabilities-financial hr {
    width: 320px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.capabilities-project hr {
    width: 335px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.capabilities-data hr {
    width: 408px;
    margin-left: 10px;
    margin-bottom: 4px;
}

.capabilities-acquisition hr {
    width: 443px;
    margin-left: 10px;
    margin-bottom: 4px;
}



/* Footer Section */

.footer-container-capabilities {
    display: flex;
    justify-content: center;
    gap: 440px;
    padding-top: 100px;
    background-color:rgb(4, 50, 73);
    height: 300px;
    font-family: 'Helvetica', Arial;
}

.nav-bottom-links {
    display: flex;
    gap: 195px;
}

.footer-container-capabilities h3 {
    font-size: 22px;
    padding-bottom: 15px;
    color: rgb(122, 182, 54);
}

.footer-container-capabilities hr {
    width: 20%;
    border: 0;
    height: 3px;
    background-color: rgb(122, 182, 54);
}

.footer-container-capabilities a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.footer-container-capabilities p {
    color: white;
    font-size: 18px;
}

.footer-container-capabilities .footer-green-line {
    color: rgb(122, 182, 54);
}