/* Additions to Navbar */

.checkbtn .fa {
    font-size: 30px;
    color: white;
    margin: 0px;
    float: right;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.menu {
    list-style-type: none;
}




/* Open Jobs Page */

.open-jobs-container {
    display: flex;
}

.open-job1 {
    background-color: #F0F9EA;
    height: 1300px;
}

.open-job2 {
    background-color: #F0F9EA;
    height: 1130px;
}

.open-job3 {
    background-color: #F0F9EA;
    height: 1030px;
}

.open-job4 {
    background-color: #F0F9EA;
    height: 1000px;
}

.open-job {
    text-align: justify;
    margin: 0 auto;
    max-width: 1200px;
}

.open-job-title {
    font-size: 40px;
    color: #023B31;
    padding: 100px 0px 40px 0px;
    font-family: 'Termina', Helvetica, Arial;
}

.open-job-subtitle {
    font-size: 22px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Montserrat', Helvetica, Arial;
}

.open-job p {
    font-size: 18px;
    padding-bottom: 30px;
    line-height: 1.4;
    color: #525252;
    font-family: 'Montserrat', Helvetica, Arial;

}

.open-job ul {
    padding-bottom: 70px;
}

.open-job li {
    list-style-type: square;
    margin-left: 30px;
    padding-left: 8px;
    font-size: 18px;
    line-height: 1.8;
    font-weight: bold;
    color: #525252;
    font-family: 'Montserrat', Helvetica, Arial;
}

.jobs-button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0px 20px;
}

.open-job a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    width: 150px;
    text-align: center;
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
    color: #FFFFFF;
    background: transparent linear-gradient(270deg, #023B31 0%, #34776B 100%) 0% 0% no-repeat padding-box;
    font-family: 'Termina', Helvetica, Arial;
}







/* Jobs Page */

.jobs-container {
    height: 750px;
    background-color: rgb(231, 240, 216, 0.8);
}

.jobs-title {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color:#023B31;
    padding-top: 75px;
    font-family: 'Termina', Helvetica, Arial;
}

.jobs-container hr {
    width: 17%;
    height: 3px;
    background-color: #023B31;
    margin: 6px auto;
    
}

.jobs-links-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.jobs-links {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px rgb(190, 190, 190);
    padding: 15px;
}

.jobs-links a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, Arial;
}
