


/* Hero-Title-Image */

.hero-title-image-ourhistory {
    gap: 100px;
}

/* Timeline Section */

.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1200px;
    position: relative;
    padding-top: 160px;
}

.timeline-content {
    padding-top: 10px;
}

.content-container-left {
    display: flex;
    flex-direction: row;
    gap: 360px;
}

.content-container-right {
    display: flex;
    flex-direction: row-reverse;
    gap: 360px;
}

.timeline-content-title {
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s;
    width: 130px;
    height: 40px;
    box-sizing: border-box;
    color: #023B31;
    font-family: 'Montserrat', Helvetica, Arial;
    padding: 12px 15px;
    border: 1px solid transparent;
    background-color: #81C94C;
    clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}

.timeline-content-desc {
    margin: 0;
    padding: 55px 30px 40px 40px;
    font-size: 20px;
    box-sizing: border-box;
    color: #023B31;
    font-weight: normal;
    line-height: 30px;
    font-family: 'Montserrat', Helvetica, Arial;
}

.timeline-item {
    position: relative;
    width: 476px; 
    height: 250px;
    background-color: #E0F2F1;
    margin-bottom: 200px;
    border: 1px solid transparent;
    border-radius: 22px;
}

.timeline-item-last {
    position: relative;
    width: 476px; 
    height: 250px;
    background-color: #E0F2F1;
    border: 1px solid transparent;
    border-radius: 22px;
}

.timeline-header span {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -17px;
    background-color: #00796B;
    border: 9px solid #E0F2F1;
    border-radius: 50%;
    left: 48.9%;
    bottom: 0px;
    z-index: 1;
    animation: pulse 3s infinite;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    right: -17px;
    background-color: #00796B;
    border: 10px solid #E0F2F1;
    top: 95px;
    border-radius: 50%;
    z-index: 1;
    animation: pulse 3s infinite;
}

.timeline-item-last::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 23px;
    right: -17px;
    background-color: #00796B;
    border: 10px solid #E0F2F1;
    top: 95px;
    border-radius: 50%;
    z-index: 1;
    animation: pulse 3s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 #e0f2f1c6;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 5px #E0F2F1;
    }

    100% {
        transform: scale(0.9);
    }
}

.left::after {
    right: -143.3px;
}

.right::after {
    left: -145.3px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #E0F2F1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}

.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 40px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, .5);
    padding-right: 15px;
}

.timeline-img {
    width: 250px;
    height: 225px;
}

.fast-logo {
    width: 250px;
    height: 160px;
    padding-top: 50px;
}

.timeline .office-space {
    width: 300px;
    height: 250px;
}

.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0px 80px 0px;
    background-attachment: fixed;
    background-size: cover;
}

.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    content: "";
}

.timeline-header {
    text-align: center;
    padding: 20px 20px 80px 20px;
    position: relative;
}

.timeline-header-title {
    color: #023B31;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    margin: 0 auto;
    padding: 12px 15px;
    font-family: 'Montserrat', Helvetica, Arial;
    border: 1px solid transparent;
    background-color: #81C94C;
}

.timeline-header-subtitle {
    color: #023B31;
    font-size: 27px;
    margin: 10px 0 0 0;
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, Arial;
}

.timeline-ending h2 {
    font-size: 44px;
    font-family: 'Termina', Helvetica, Arial;
    color: #023B31;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}




/* Join Our Team Section */

.join-our-team-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    gap: 79px;
    background-color: #FFFFFF;
}

.join-image img {
    height: 550px;
    width: 750px;
    border-radius: 20px;
}

.join-our-team-text {
    width: 550px;
}

.join-our-team-text h2 {
    color: #222222;
    font-size: 50px;
    padding-bottom: 30px;
    font-family: 'Termina', Helvetica, Arial;
}

.join-our-team-text p {
    font-size: 16px;
    line-height: 1.3;
    color: #222222;
    padding-bottom: 40px;
    font-family: 'Montserrat', Helvetica, Arial;
}

.join-our-team-text a {
    background: transparent linear-gradient(270deg, #B1D98C 0%, #91C75E 100%) 0% 0% no-repeat padding-box;
    color: #023B31;
    font-size: 16px;
    border-radius: 27px;
    border-color: transparent;
    padding: 15px 30px;
    letter-spacing: 1.25px;
    text-decoration: none;
    font-family: 'Termina', Helvetica, Arial;
}





/* Footer Section */

.footer-container-history {
    display: flex;
    justify-content: center;
    gap: 490px;
    padding-top: 90px;
    background-color: #173142;
    height: 380px;
}

.nav-bottom-links {
    display: flex;
    gap: 150px;
}

.footer-container-history h3 {
    font-size: 16px;
    padding-bottom: 20px;
    color: #81C94C;
    font-family: 'Termina', Helvetica, Arial;
}

.footer-container-history hr {
    width: 49px;
    border: 0;
    height: 3px;
    background-color: #81C94C;
}

.footer-container-history a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial;
    font-weight: normal;
}

.footer-container-history p {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Montserrat', Helvetica, Arial;
}

.footer-container-history .footer-green-line {
    color: #81C94C;
}

.nine30-info img {
    width: 237px;
    height: 89px;
    margin-bottom: 32px;
}

ul {
    list-style: none;
    line-height: 2.0;
    padding-top: 20px;
}

.fa {
    color: #DFE5E8;
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
}

.location {
    align-items: center;
    padding-bottom: 10px;
}

.location p {
    font-family: 'Montserrat', Helvetica, Arial;
}

.phone-number {
    align-items: center;
}

.location p {
    display: inline-block;
}

.phone-number p {
    display: inline-block;
}