

/* Our Team Card */

.our-team-container {
    display: grid;
    grid-template-columns: repeat(5, 260px);
    height: 2000px;
    align-items: center;
    justify-content: center;
    gap: 20px 60px;
    padding: 100px 50px;
    background-color: rgb(231, 240, 216, 0.8);
}

.our-team-card {
    position: relative;
    width: 100%;
}

.our-team-card img {
    display: block;
    width: 260px;
    height: 370px;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    height: 88%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    border-radius: 20px;
    background-color: #3a3a3ae5;
}

.our-team-card:hover .overlay {
    opacity: 1;
}

.text {
    color: #FFFFFF;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: unset;
    font-family: 'Montserrat', Helvetica, Arial;
}

.our-team-card h3 {
    padding: 20px 0px 10px 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', Helvetica, Arial;
}