/* Large devices (large laptops, 1440px to 1919px) */
@media only screen and (min-width: 1440px) and (max-width: 1919px) {

    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        scroll-behavior: smooth;
    }
    



    /* HEADER / NAVBAR */

    
    header {
        position: fixed;
        width: 100%;
        height: 70px;
        background-color: #173142;
        padding: 15px 0 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 10;
    }
    
    header ul {
        padding-top: 0;
    }
    
    header .logo img {
        width: 110px;
        height: auto;
    }
    
    header .logo {
        margin-left: 135px;
    }
    
    header .navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    header .navbar-icons {
        position: relative;
        display: inline-block;
        padding-right: 0px;
        padding-top: 6px;
        margin-right: 50px;
    }
    
    .navbar-icons span {
        height: 20px;
        color: #71AE47;
        padding-left: 10px;
    }
    
    header .nine30-countdown-contact {
        display: inline-block;  
        justify-content: normal;
        align-items: center;
        padding-top: 3px;
        margin-right: 135px;
    }
    
    .countdown {
        display: inline-block;
    }
    
    header ul li {
        position: relative;
        list-style: none;
        float: left;
        text-transform: uppercase;
    }
    
    header .navbar-menu a {
        color: #fff;
        padding: 40px 10px 34px 20px;
        text-decoration: none;
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    header ul .navbar-submenu-icons a {
        font-family: 'Montserrat', Helvetica, Arial;
        font-size: 14px;
        color: #023B31;
        font-weight: bold;
        padding: 15px;
    }

    header ul .navbar-submenu-icons {
        text-align: left;
    }
    
    header ul li ul {
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #F0F9EA;
        display: none;
    }
    
    header ul li:hover ul {
        display: block;
    }
    
    header ul li ul li {
        position: relative;
        width: 100%;
        border: 1px solid #d7e1d1;
    }
    
    header ul li ul li:hover {
        background-color: #173142;
    }
    
    header ul li ul li:hover a {
        color: #fff;
    }
    
    /* Countdown */
    
    .countdown {
        display: inline-block;
        align-items: center;
    }
    
    .countdown p {
        display: inline-block;
        color: #F0F9EA;
        font-weight: normal;
        font-family: 'Termina', Helvetica, Arial;
        font-size: 13px;
        text-transform: uppercase;
    }
    
    .countdown span {
        color: white;
    }
    
    #demo {
        color: #71AE47;
        font-size: 15px;
        font-weight: normal;
        display: inline-block;
        width: 60px;
        font-family: 'Termina', Helvetica, Arial;
        border: 1px solid black;
        background-color:rgba(33, 33, 33, 0.746);
        border-radius: 8px;
        margin-right: 10px;
        text-align: center;
    }
    
    .navbar-button {
        display: inline-block;
        margin-left: 15px;
        margin-right: 0px;
    }
    
    .navbar-button button {
        background-color: #00796B;
        color: #F0F9EA;
        font-size: 13px;
        border-radius: 27px;
        border-color: transparent;
        padding: 7px 12px;
        font-family: 'Termina', Helvetica, Arial;
        letter-spacing: 1.25px;
       
    }
    
    .navbar-button a {
        text-decoration: none;
        color: white;
    }
    
    




    /* Hero TITLE & VIDEO */
    
    .hero-title-image {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 75px;
        padding-top: 180px;
    }
    
    .hero-text h1 {
        font-size: 44px;
        color: #f6fff0;
        font-weight: 500;
        font-family: 'Termina', Helvetica, Arial;
        opacity: 1;
    }
    
    .hero-text p {
        font-size: 16px;
        width: 493px;
        color:#D9EFC9;
        margin-top: 10px;
        line-height: 1.35;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    
    /* Home Page Hero-title-image */

    .hero-title-container {
        position: relative;
        font-family: 'Termina', Helvetica, Arial;
        color: #f6fff0;
        font-size: 45px;
        filter: contrast(15);
        margin-bottom: 60px;
    }

    .word {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: switch 8s infinite ease-in-out;
        min-width: 100%;
        margin: auto;
    }

    .word:nth-child(1) {
        animation-delay: -7s;
    }

    .word:nth-child(2) {
        animation-delay: -4s;
    }

    .word:nth-child(3) {
        animation-delay: -2s;
    }

    @keyframes switch {

        0%,
        5%,
        100% {
            filter: blur(0px);
            opacity: 1;
        }

        50%,
        80% {
            filter: blur(30px);
            opacity: 0;
        }
    }
    
    
    .hero-picture {
        width: 575px;
        height: 450px;
        border-radius: 12px;
    }
    
    /* Case Studies Hero-title-image */
    
    .hero-container-casestudies {
        background-color: #173142;
    }
    
    .hero-title-image-casestudies {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 55px;
        padding-top: 0px;
        background-color: #173142;
        height: 851px;
    }
    
    .hero-text-casestudies h1 {
        font-size: 44px;
        color:rgb(118, 216, 65);
        font-weight:500;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .hero-text-casestudies p {
        font-size: 16px;
        color:white;
        margin-top: 20px;
        line-height: 1.5;
        width: 500px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .hero-picture-case-studies {
        width: 579px;
        height: 530px;
        border-radius: 20px;
    }
    
    
    /* Career Page Hero-title-image */
    
    .hero-title-image-career {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 160px;
        padding-top: 100px;
    }

    .hero-title-image-career p {
        width: 650px;
    }

    
    .hero-picture-career img {
        height: 450px;
        width: 330px;
        border-radius: 20px;
    }
    
    
    /* Our History Page Hero-title-image */
    
    .hero-title-image-ourhistory {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 62px;
        padding-top: 10px;
        background-color: #173142;
        height: 800px;
    }
    
    
    /* Our Team Page Hero-title-image */
    
    .hero-title-image-ourteam {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-top: 70px;
    }

    .hero-picture-ourteam {
        width: 600px;
        height: 410px;
        border-radius: 12px;
    }
    
    
    /* Capabilities Section */


    .capabilities-container {
        height: 1050px;
        background-color: #F0F9EA;
    }

    .capabilities-title {
        text-align: center;
        padding-top: 86px;
    }

    .capabilities-title h2 {
        font-size: 44px;
        color: #023B31;
        font-family: 'Termina', Helvetica, Arial;
    }

    .capabilities-title p {
        font-size: 18px;
        margin-top: 16px;
        color: #525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .green-line {
        border-left: 4px solid #91C75E;
        height: 109px;
        width: 0%;
        margin: 50px auto;
    }

    .cards-container {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 20px;
    }

    .capabilities-card {
        border: 1px solid white;
        background: white;
        border-radius: 10px;
        width: 200px;
        height: 440px;
        padding: 20px 30px;
        box-shadow: -2px 2px 10px rgba(204, 204, 204, 0.898);
        position: relative;
    }

    .capabilities-card a::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    .capabilities-icon {
        text-align: center;
    }

    .capabilities-card img {
        width: 78px;
        height: 78px;
    }

    .capabilities-card h3 {
        color: #023B31;
        font-size: 20px;
        font-family: 'Montserrat', Helvetica, Arial;
        margin-top: 30px;
        font-weight: bold;
    }

    .capabilities-card p {
        color: #525252;
        font-size: 15px;
        font-family: 'Montserrat', Helvetica, Arial;
        margin-top: 10px;
        line-height: 1.3;
        margin-bottom: 20px;
    }

    .capabilities-card a {
        text-decoration: none;
        color: #023B31;
        font-family: 'Montserrat', Helvetica, Arial;
        font-weight: bold;
        font-size: 20px;
    }

    .capabilities-card span {
        color: #71AE47;
        font-weight: bold;
    }
    
    
    
    /* Supporting Agencies Section */
    
    .supporting-container {
        height: 1050px;
        background-color: #173142;
    }
    
    .supporting-title {
        margin-left: 10.5%;
        padding-top: 100px;
    }
    
    .supporting-title hr {
        width: 32%;
        border: 0;
        margin-left: 3px;
        height: 6px;
        background-image: linear-gradient(to left, #023B31, #71AE47);
    }
    
    .supporting-title h2 {
        font-size: 44px;
        color: #FFFFFF;
        padding-top: 30px;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .supporting-title p {
        color: #FFFFFF;
        padding-top: 30px;
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .supporting-card-container {
        display: grid;
        grid-template-columns: repeat(3, 360px);
        justify-content: center;
        align-items: center;
        gap: 30px 35px;
        padding-top: 70px;
    }
    
    .supporting-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid transparent;
        background-color: #F0F9EA;
        border-radius: 15px;
        padding: 20px 10px;
        width: 330px;
        height: 170px;
        align-items: center;
    }
    
    .supporting-card img {
        width: 122px;
        height: 100px;
    }
    
    .supporting-card h3 {
        font-size: 18px;
        text-align: center;
        color: #525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    
    /* Lets Talk Section */
    
    .lets-talk-container {
        height: 950px;
        background: transparent linear-gradient(180deg, #FFFFFF 0%, #FAFDF8 53%, #F2F9EB 100%);
    }
    
    .lets-talk-div {
        display: flex;
        justify-content: center;
        gap: 50px;
        padding-top: 120px;
        align-items: center;
        padding-bottom: 130px;
    }
    
    .lets-talk-image img {
        border-radius: 15px;
        width: 550px;
        height: 450px;
    }
    
    .lets-talk-title {
        width: 500px;
    }
    
    .lets-talk-title h4 {
        font-size: 21px;
        color: #00796B;
        font-weight: bold;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .lets-talk-title h2 {
        font-size: 36px;
        color: #023B31;
        font-weight: normal;
        padding: 16px 0px 34px 0px;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .lets-talk-title button {
        border: 1px solid transparent;
        border-radius: 20px;
        padding: 12px;
        background: transparent linear-gradient(270deg, #023B31 0%, #34776B 100%) 0% 0% no-repeat padding-box;
    }
    
    .lets-talk-title a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: normal;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    
    /* Join Us Section */
    
    .join-us-container {
        display: flex;
        align-items: center;
        background-color: #023B31;
        height: 501.5px;
    }
    
    .join-us-image img {
        width: 720px;
        height: 500px;
        margin-top: 4px;
    }
    
    .join-us-title hr {
        width: 80%;
        border: 0;
        height: 5px;
        background: transparent linear-gradient(270deg, #163A31 0%, #71AE47 100%) 0% 0% no-repeat padding-box;
    }
    
    .join-us-title {
        margin-left: 130px;
        width: 450px;
    }
    
    .join-us-title h2 {
        padding-top: 32px;
        font-size: 38px;
        font-weight: normal;
        color: #FFFFFF;
        padding-bottom: 20px;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .join-us-title p {
        color: white;
        line-height: 1.35;
        font-size: 18px;
        padding-bottom: 34px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .join-us-title button {
        background: transparent linear-gradient(270deg, #B1D98C 0%, #91C75E 100%) 0% 0% no-repeat padding-box;
        color: #023B31;
        font-size: 16px;
        border-radius: 27px;
        border-color: transparent;
        padding: 12px 15px;
        letter-spacing: 1.25px;
        margin-left: 10px;
    }
    
    .join-us-title a {
        text-decoration: none;
        color: #023B31;
        font-weight: bold;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    
    /* Footer Section */
    
    .footer-container {
        display: flex;
        justify-content: center;
        gap: 140px;
        padding-top: 90px;
        background-color: #173142;
        height: 300px;
    }
    
    .nav-bottom-links {
        display: flex;
        gap: 100px;
    }
    
    .footer-container h3 {
        font-size: 16px;
        padding-bottom: 20px;
        color: #81C94C;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .footer-container hr {
        width: 49px;
        border: 0;
        height: 3px;
        background-color: #81C94C;
    }
    
    .footer-container a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial;
        font-weight: normal;
    }
    
    .footer-container p {
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .footer-container .footer-green-line {
        color: #81C94C;
    }
    
    .nine30-info img {
        width: 237px;
        height: 89px;
        margin-bottom: 32px;
    }
    
    ul {
        list-style: none;
        line-height: 2.0;
        padding-top: 20px;
    }
    
    .fa {
        color: #DFE5E8;
        font-size: 14px;
        display: inline-block;
        margin-right: 20px;
    }
    
    .location {
        align-items: center;
        padding-bottom: 10px;
    }
    
    .phone-number {
        align-items: center;
    }
    
    .location p {
        display: inline-block;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .phone-number p {
        display: inline-block;
    }
    
    
    /* Navbar Bottom */
    
    .navbar-bottom-container {
        display: flex;
        justify-content: space-around;
        gap: 290px;
        background-color: #81C94C;
        padding: 25px 0px;
        align-items: center;
    }
    
    .copyright h3 {
        font-size: 16px;
        color: #1A2024;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .social-media a {
        margin-right: 20px;
    }
    
    .social-media .fa {
        color: #1A2024;
        font-size: 30px;
    }











    /* About Us Page */

    .about-us-picture {
        width: 560px;
        height: 400px;
        border-radius: 12px;
    }

    .our-philosophy-container {
        height: 1000px;
        background-color: #FFFFFF;
    }
    
    .philosophy-title {
        margin-left: 10.5%;
        padding-top: 100px;
    }
    
    .philosophy-title h2 {
        font-size: 44px;
        color: #023B31;
        padding-bottom: 20px;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .philosophy-title p {
        color: #525252;
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .philosophy-content {
        display: flex;
        justify-content: center;
        gap: 95px;
        align-items: center;
        padding-top: 50px;
    }
    
    .philosophy-image img {
        height: 530px;
        width: 530px;
    }
    
    .innovate-elevate-collaborate {
        padding-top: 60px;
        width: 510px;
    }

    .innovate-elevate-collaborate br {
        display: none;
    }
    
    .innovate-elevate-collaborate h3 {
        color: #81C94C;
        font-size: 28px;
        display: inline-block;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .innovate-elevate-collaborate hr {
        display: inline-block;
        margin-bottom: 7px;
        color: #81C94C;
        height: 2px;
        background-color: #81C94C;
    }
    
    .collaborate hr {
        width: 274px;
        margin-left: 20px;
    }
    
    .innovate hr {
        width: 327px;
        margin-left: 20px;
    }
    
    .elevate hr {
        width: 350px;
        margin-left: 20px;
    }
    
    .innovate-elevate-collaborate p {
        color: #525252;
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 30px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    










    /* Capabilities Page */

    .core-comp-container {
        height: 1100px;
        background-color: rgb(231, 240, 216, 0.8);
    }
    
    .core-comp {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    
    .core-comp-title h2 {
        margin-left: 10.5%;
        font-size: 40px;
        color: #023B31;
        padding: 75px 0px 30px 0px;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .core-comp-image img {
        width: 570px;
        height: 570px;
    }
    
    .capabilities {
        width: 530px;
    }

    .capabilities br {
        display: none;
    }
    
    .capabilities-info-content {
        margin-bottom: 25px;
    }
    
    .capabilities-info-content h3 {
        display: inline-block;
        padding-bottom: 15px;
        font-size: 20px;
        color:#023B31;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .capabilities-info-content hr {
        display: inline-block;
    }
    
    .capabilities-info-content p {
        font-size: 18px;
        line-height: 1.3;
        padding-bottom: 8px;
        color:#525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .capabilities-info-content a {
        text-decoration: none;
        color:#023B31;
        font-weight: bold;
        font-size: 18px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .capabilities-info-content span {
        color: rgb(95, 163, 0);
        font-weight: bold;
    }
    
    .capabilities-financial hr {
        width: 218px;
        margin-left: 10px;
        margin-bottom: 4px;
    }
    
    .capabilities-project hr {
        width: 248px;
        margin-left: 10px;
        margin-bottom: 4px;
    }
    
    .capabilities-data hr {
        width: 327px;
        margin-left: 10px;
        margin-bottom: 4px;
    }
    
    .capabilities-acquisition hr {
        width: 370px;
        margin-left: 10px;
        margin-bottom: 4px;
    }










    /* Case Studies Page */

    /* Filter Navbar */

    .filter-navbar {
        background-color: #173142;
        padding-left: 10.5%;
        height: 80px;
        padding-top: 30px;
    }

    .filter-navbar a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        padding-right: 70px;
        padding-top: 30px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .filter-navbar .select {
        color:rgb(118, 216, 65);
        font-weight: bold;
        text-decoration: underline;
        text-underline-offset: 12px;
    }


    /* Case Studies Section */

    .case-studies-container {
        display: grid;
        grid-template-columns: repeat(3, 340px);
        justify-content: center;
        gap: 60px;
        padding-top: 70px;
        background-color: #ffffff;
        padding-bottom: 100px;
    }

    .case-studies-card {
        position: relative;
    }

    .case-studies-card img {
        height: 220px;
        width: 340px;
        padding-bottom: 30px;
    }

    .case-studies-card .aquisition-button {
        border: 1px solid transparent;
        background-color: #EFEF3D;
        border-radius: 25px;
        font-size: 14px;
        padding: 8px 15px;
        font-weight: bold;
        font-family: 'Montserrat', Helvetica, Arial;
        display: block;
        color: #1A2024;
    }

    .case-studies-card .data-analytics-button {
        border: 1px solid transparent;
        background-color: #A7DA83;
        border-radius: 25px;
        font-size: 14px;
        padding: 8px 15px;
        font-weight: bold;
        font-family: 'Montserrat', Helvetica, Arial;
        display: block;
        color: #1A2024;
    }

    .case-studies-card .financial-management-button {
        border: 1px solid transparent;
        background-color: #48BFB1;
        border-radius: 25px;
        font-size: 14px;
        padding: 8px 15px;
        font-weight: bold;
        font-family: 'Montserrat', Helvetica, Arial;
        display: block;
        color: #1A2024;
    }

    .case-studies-card .project-management-button {
        border: 1px solid transparent;
        background-color: #98C4FF;
        border-radius: 25px;
        font-size: 14px;
        padding: 8px 15px;
        font-weight: bold;
        font-family: 'Montserrat', Helvetica, Arial;
        display: block;
        color: #1A2024;
    }

    .case-studies-card a::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
    }

    .case-studies-card a {
        text-decoration: none;
        color: #023B31;
        font-weight: bold;
        font-size: 18px;
        padding-left: 10px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .case-studies-card span {
        color: #71AE47;
        font-weight: bolder;
    }

    .case-studies-card h3 {
        font-size: 27px;
        padding: 10px 0px 10px 10px;
        color: #023B31;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .case-studies-card p {
        line-height: 1.25;
        padding: 0px 0px 10px 10px;
        font-size: 16px;
        color: #1A2024;
        font-family: 'Montserrat', Helvetica, Arial;
    }











    /* Our History Page */

    /* Hero Container */

    .header {
        position: sticky;
    }


    /* Timeline Section */

    .timeline {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 1135px;
        position: relative;
        padding-top: 160px;
    }

    .timeline-content {
        padding-top: 10px;
    }

    .content-container-left {
        display: flex;
        flex-direction: row;
        gap: 360px;
    }

    .content-container-right {
        display: flex;
        flex-direction: row-reverse;
        gap: 360px;
    }

    .timeline-content-title {
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        left: 0;
        top: 0;
        transition: 0.4s;
        width: 130px;
        height: 40px;
        box-sizing: border-box;
        color: #023B31;
        font-family: 'Montserrat', Helvetica, Arial;
        padding: 12px 15px;
        border: 1px solid transparent;
        background-color: #81C94C;
        clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
    }

    .timeline-content-desc {
        margin: 0;
        padding: 55px 30px 40px 40px;
        font-size: 20px;
        box-sizing: border-box;
        color: #023B31;
        font-weight: normal;
        line-height: 30px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .timeline-item {
        position: relative;
        width: 410px; 
        height: 270px;
        background-color: #E0F2F1;
        margin-bottom: 200px;
        border: 1px solid transparent;
        border-radius: 22px;
    }

    .timeline-item-last {
        position: relative;
        width: 476px; 
        height: 250px;
        background-color: #E0F2F1;
        border: 1px solid transparent;
        border-radius: 22px;
    }

    .timeline-header span {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        right: -17px;
        background-color: #00796B;
        border: 9px solid #E0F2F1;
        border-radius: 50%;
        left: 48.55%;
        bottom: 0px;
        z-index: 1;
        animation: pulse 3s infinite;
    }

    .timeline-item::after {
        content: '';
        position: absolute;
        width: 23px;
        height: 23px;
        right: -17px;
        background-color: #00796B;
        border: 10px solid #E0F2F1;
        top: 95px;
        border-radius: 50%;
        z-index: 1;
        animation: pulse 3s infinite;
    }

    .timeline-item-last::after {
        content: '';
        position: absolute;
        width: 23px;
        height: 23px;
        right: -17px;
        background-color: #00796B;
        border: 10px solid #E0F2F1;
        top: 95px;
        border-radius: 50%;
        z-index: 1;
        animation: pulse 3s infinite;
        display: none;
    }

    @keyframes pulse {
        0% {
            transform: scale(0.9);
            box-shadow: 0 0 0 0 #e0f2f1c6;
        }

        70% {
            transform: scale(1);
            box-shadow: 0 0 0 5px #E0F2F1;
        }

        100% {
            transform: scale(0.9);
        }
    }

    .left::after {
        right: -179.7px;
    }

    .right::after {
        left: -180.7px;
    }

    .timeline::after {
        content: '';
        position: absolute;
        width: 4px;
        background-color: #E0F2F1;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    .timeline-item:nth-child(even) {
        align-self: flex-end;
    }

    .timeline-item:nth-child(even):before {
        right: auto;
        text-align: right;
        left: calc(-100% - 40px);
        padding-left: 0;
        border-left: none;
        border-right: 2px solid rgba(255, 255, 255, .5);
        padding-right: 15px;
    }

    .timeline-img {
        width: 250px;
        height: 225px;
    }

    .fast-logo {
        width: 225px;
        height: 175px;
    }

    .timeline .office-space {
        width: 300px;
        height: 250px;
    }

    .timeline-container {
        width: 100%;
        position: relative;
        padding: 80px 0px 80px 0px;
        background-attachment: fixed;
        background-size: cover;
    }

    .timeline-container:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        content: "";
    }

    .timeline-header {
        text-align: center;
        padding: 20px 20px 80px 20px;
        position: relative;
    }

    .timeline-header-title {
        color: #023B31;
        font-size: 16px;
        font-weight: bold;
        width: 120px;
        margin: 0 auto;
        padding: 12px 15px;
        font-family: 'Montserrat', Helvetica, Arial;
        border: 1px solid transparent;
        background-color: #81C94C;
    }

    .timeline-header-subtitle {
        color: #023B31;
        font-size: 27px;
        margin: 10px 0 0 0;
        font-weight: bold;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .timeline-ending h2 {
        font-size: 44px;
        font-family: 'Termina', Helvetica, Arial;
        color: #023B31;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 50px;
    }




    /* Join Our Team Section */

    .join-our-team-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;
        gap: 48px;
        background-color: #FFFFFF;
    }

    .join-image img {
        height: 450px;
        width: 550px;
        border-radius: 20px;
    }

    .join-our-team-text {
        width: 500px;
    }

    .join-our-team-text h2 {
        color: #222222;
        font-size: 34px;
        padding-bottom: 30px;
        font-family: 'Termina', Helvetica, Arial;
    }

    .join-our-team-text p {
        font-size: 16px;
        line-height: 1.3;
        color: #222222;
        padding-bottom: 40px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .join-our-team-text a {
        background: transparent linear-gradient(270deg, #B1D98C 0%, #91C75E 100%) 0% 0% no-repeat padding-box;
        color: #023B31;
        font-size: 16px;
        border-radius: 27px;
        border-color: transparent;
        padding: 15px 30px;
        letter-spacing: 1.25px;
        text-decoration: none;
        font-family: 'Termina', Helvetica, Arial;
    }





    /* Footer Section */

    .footer-container-history {
        display: flex;
        justify-content: center;
        gap: 200px;
        padding-top: 90px;
        background-color: #173142;
        height: 390px;
    }
    
    .nav-bottom-links {
        display: flex;
        gap: 120px;
    }
    
    .footer-container-history h3 {
        font-size: 16px;
        padding-bottom: 20px;
        color: #81C94C;
        font-family: 'Termina', Helvetica, Arial;
    }
    
    .footer-container-history hr {
        width: 49px;
        border: 0;
        height: 3px;
        background-color: #81C94C;
    }
    
    .footer-container-history a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial;
        font-weight: normal;
    }
    
    .footer-container-history p {
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .footer-container-history .footer-green-line {
        color: #81C94C;
    }
    
    .nine30-info img {
        width: 237px;
        height: 89px;
        margin-bottom: 32px;
    }
    
    ul {
        list-style: none;
        line-height: 2.0;
        padding-top: 20px;
    }
    
    .fa {
        color: #DFE5E8;
        font-size: 14px;
        display: inline-block;
        margin-right: 20px;
    }
    
    .location {
        align-items: center;
        padding-bottom: 10px;
    }
    
    .location p {
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    .phone-number {
        align-items: center;
    }
    
    .location p {
        display: inline-block;
    }
    
    .phone-number p {
        display: inline-block;
    }










    /* Our Team Page */

    .our-team-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    height: 2600px;
    align-items: center;
    justify-content: center;
    gap: 20px 92px;
    padding: 100px 50px;
    background-color: rgb(231, 240, 216, 0.8);
    }

    .our-team-card {
        position: relative;
        width: 100%;
    }

    .our-team-card img {
        display: block;
        width: 280px;
        height: 390px;
        border-radius: 20px;
    }

    .overlay {
        position: absolute;
        height: 88%;
        width: 93.8%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: .5s ease;
        border-radius: 20px;
        background-color: #3a3a3ae5;
    }

    .our-team-card:hover .overlay {
        opacity: 1;
    }

    .text {
        color: #FFFFFF;
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: unset;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .our-team-card h3 {
        padding: 20px 0px 10px 20px;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Montserrat', Helvetica, Arial;
    }











    /* Career Page */

    
    .slideshow {
    background-color: rgb(255,255,255);
    }

    .employee-title h2 {
        font-size: 40px;
        padding-top: 75px;
        text-align: center;
        color: #023B31;
        font-family: 'Termina', Helvetica, Arial;
    }

    .slideshow-container {
        max-width: 1130px;
        height: 200px;
        position: relative;
        margin: auto;
        padding: 55px 0px 40px 0px;
        background-color: rgb(255,255,255);
    }

    .mySlides {
        display: none;
    }

    .slide-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 990px;
        height: 200px;
    }

    .slide-text h3 {
        font-size: 28px;
        color: #023B31;
        padding-bottom: 20px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .slide-text p {
        font-size: 20px;
        color:#525252;
        text-align: center;
        padding-bottom: 20px;
        line-height: 1.4;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .slide-text h4 {
        font-size: 22px;
        font-weight: bold;
        color:#525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: rgb(183, 183, 183);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover, .next:hover {
        background-color:rgba(4, 50, 73, 0.8);
        color: white;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .dots {
        padding-bottom: 75px;
    }

    .active, .dot:hover {
        background-color: rgba(4, 50, 73, 0.9);
    }

    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }




    /* Benefits Section */

    .benefits-container {
        height: 1550px;
        background-color: rgb(231, 240, 216, 0.8);
    }

    .benefits-title {
        padding: 100px 0px 70px 0px;
        margin-left: 10.5%;
    }

    .benefits-title h2 {
        font-size: 40px;
        padding-bottom: 40px;
        color: #023B31;
        font-family: 'Termina', Helvetica, Arial;
    }

    .benefits-title p {
        font-size: 18px;
        color: #525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .benefits-card-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, 260px);
        gap: 50px 30px;
    }

    .benefits-card {
        border: 1px solid transparent;
        border-radius: 20px;
        box-shadow: 2px 2px 10px rgb(199, 199, 199);
        width: 220px;
        height: 280px;
        text-align: center;
        padding: 20px;
        position: relative;
        transition: all .5s ease-in;
        background-color: white;
    }

    .benefits-card img {
        padding-top: 20px;
        height: 150px;
        width: 150px;
    }

    .benefits-card h4 {
        font-size: 22px;
        padding-top: 25px;
        color: #525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }



    /* Overlay */

    .overlay-career {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        border-radius: 20px;
        background-color: rgba(4, 50, 73, 0.9);
    }

    .benefits-card:hover .overlay-career {
        opacity: 1;
    }

    .text-career {
        color: #FFFFFF;
        font-size: 18px;
        position: absolute;
        height: 92%;
        width: 90%;
        top: 70%;
        left: 50%;
        line-height: 1.35;
        font-weight: 600;
        letter-spacing: 2px;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: 'Montserrat', Helvetica, Arial;
    }



    /* Diversity Section */

    .diversity-title-content {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 750px;
    }

    .diversity-title {
        width: 535px;
        text-align: left;
    }

    .diversity-title h2 {
        font-size: 38px;
        color: #023B31;
        padding-bottom: 30px;
        font-family: 'Termina', Helvetica, Arial;
    }

    .diversity-title p {
        font-size: 16px;
        color:#525252;
        padding-bottom: 20px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .diversity-list .fa {
        color: #023B31;
        font-size: 28px;
    }

    .diversity-list li {
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .diversity-image img {
        height: 460px;
        width: 590px;
        border-radius: 20px;
        box-shadow: 2px 2px 12px rgb(184, 190, 174);
    }



    /* Community Section */

    .community-title-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 20px;
        height: 600px;
    }

    .community-title {
        width: 550px;
        text-align: left;
    }

    .community-title h2 {
        font-size: 38px;
        color: #023B31;
        padding-bottom: 30px;
        font-family: 'Termina', Helvetica, Arial;
    }

    .community-title p {
        font-size: 16px;
        color:#525252;
        padding-bottom: 20px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .community-list .fa {
        color: #023B31;
        font-size: 28px;
    }

    .community-list li {
        font-size: 18px;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .community-image img {
        height: 460px;
        width: 590px;
        border-radius: 20px;
        box-shadow: -2px -2px -12px rgb(184, 190, 174);
    }



    /* Apply Section */

    .apply-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
        margin-top: 200px;
        padding-bottom: 60px;
        background-color: rgb(231, 240, 216, 0.8);
    }

    .apply-image img {
        height: 520px;
        width: 580px;
        border-radius: 20px;
        margin-top: -70px;
        box-shadow: 2px 2px 12px rgb(184, 190, 174);
    }

    .apply-title {
        width: 500px;
    }

    .apply-title h2 {
        font-size: 45px;
        padding-bottom: 30px;
        color: #023B31;
        font-family: 'Termina', Helvetica, Arial;
    }

    .apply-title p {
        font-size: 16px;
        color: #525252;
        padding-bottom: 40px;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .apply-title a {
        text-decoration: none;
        color: white;
        border: 1px solid transparent;
        padding: 12px 14px;
        font-size: 20px;
        border-radius: 20px;
        background: transparent linear-gradient(270deg, #023B31 0%, #34776B 100%) 0% 0% no-repeat padding-box;
        font-family: 'Termina', Helvetica, Arial;
    }









    /* Open Jobs Page */


    .open-jobs-container {
        display: flex;
    }

    .open-job1 {
        background-color: #F0F9EA;
        height: 1300px;
    }

    .open-job2 {
        background-color: #F0F9EA;
        height: 1130px;
    }

    .open-job3 {
        background-color: #F0F9EA;
        height: 1030px;
    }

    .open-job4 {
        background-color: #F0F9EA;
        height: 1000px;
    }

    .open-job {
        text-align: justify;
        margin: 0 auto;
        max-width: 1150px;
    }

    .open-job-title {
        font-size: 40px;
        color: #023B31;
        padding: 100px 0px 40px 0px;
        font-family: 'Termina', Helvetica, Arial;
    }

    .open-job-subtitle {
        font-size: 22px;
        padding-bottom: 30px;
        color: black;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .open-job p {
        font-size: 18px;
        padding-bottom: 30px;
        line-height: 1.4;
        color: #525252;
        font-family: 'Montserrat', Helvetica, Arial;

    }

    .open-job ul {
        padding-bottom: 70px;
    }

    .open-job li {
        list-style-type: square;
        margin-left: 30px;
        padding-left: 8px;
        font-size: 18px;
        line-height: 1.8;
        font-weight: bold;
        color: #525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .open-job a {
        text-decoration: none;
        font-size: 20px;
        font-weight: normal;
        padding: 12px;
        border: 1px solid transparent;
        border-radius: 20px;
        color: #FFFFFF;
        background: transparent linear-gradient(270deg, #023B31 0%, #34776B 100%) 0% 0% no-repeat padding-box;
        font-family: 'Termina', Helvetica, Arial;
    }





    /* Jobs Page */

    .jobs-container {
        height: 750px;
        background-color: rgb(231, 240, 216, 0.8);
    }

    .jobs-title {
        font-size: 40px;
        font-weight: normal;
        text-align: center;
        color:#023B31;
        padding-top: 75px;
        font-family: 'Termina', Helvetica, Arial;
    }

    .jobs-container hr {
        width: 17%;
        height: 3px;
        background-color: #023B31;
        margin: 6px auto;
        
    }

    .jobs-links-container {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .jobs-links {
        border: 1px solid transparent;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 2px 10px rgb(190, 190, 190);
        padding: 15px;
    }

    .jobs-links a {
        text-decoration: none;
        color: black;
        font-size: 22px;
        font-weight: bold;
        font-family: 'Montserrat', Helvetica, Arial;
    }
    
    









    /* Case Study Pages */

    .case-study-container {
        width: 100%;
        padding-bottom: 100px;
    }

    .case-study-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .case-study-title h2 {
        font-size: 40px;
        padding-top: 100px;
        width: 1150px;
        margin: 0 auto;
        letter-spacing: 4px;
        text-align: center;
        color: #023B31;
        font-family: 'Termina', Helvetica, Arial;
    }

    .case-study-title p {
        padding-top: 30px;
        text-align: center;
        font-size: 18px;
        color: #525252;
        font-weight: 500;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .case-study-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .content {
        padding-top: 40px;
        text-align: left;
        width: 1000px;
    }

    .content h3 {
        font-size: 24px;
        padding: 30px 0px 20px 0px;
        color: #023B31;
        font-weight: 700;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .content p {
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.4;
        padding-bottom: 10px;
        color: #525252;
        font-family: 'Montserrat', Helvetica, Arial;
    }

    .caseStudy-button {
        padding-top: 70px;
    }

    .caseStudy-button a {
        text-decoration: none;
        background: transparent linear-gradient(270deg, #023B31 0%, #34776B 100%) 0% 0% no-repeat padding-box;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        padding: 15px;
        border-radius: 20px;
        font-family: 'Termina', Helvetica, Arial;
    }
}